.summary1 {
    width: 926px;
    height: 100%;
}
.both1 {
    display: flex;
}

.png1 {
    margin-left: 700px;
    width: 20px;
    height: 20px;
    align-self: center;
    display: flex;
}

.heading1 {
    background: #5861AE;
    color: #fff;
    font-size: 2rem;
    height: 6vh;
    padding: 2vh 2vw;
}


.subheading1 {
    height: 12.5vh;
    background-color: #F4F9FF;
}

.block_input1 {
    display: block;
    margin-top: 1rem;
    border: none;
}

.inline_hd1 {
    padding: 1rem 2rem;
    display: inline-block;
}

.inline_hd1>input {
    color: #777;
}

.list_style1 {
    list-style-type: none;
}

.bottom_border1 {
    margin-right: 5vw;
    border-bottom: 1px solid #ddd;
}

.corner1 {
    float: right;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.total_block1 {
    margin-right: 5vw;
    border-bottom: 1px solid #ddd;
    float: right;
    padding: 1rem 8rem;
    color: #777;
}

.address1 {
    display: block;
    clear: both;
    padding-top: 2rem;
}

.homeAddress1 {
    border: 1.5px solid #5861AE;
    padding: 5px;
    margin: 10px 0;
    width: 15vw;
    box-shadow: 1px 1px 5px gray;
}