.cell {

  width: 10%;
}

.fontSize {
  font-family: Open Sans;
  font-size: 12px;
  letter-spacing: 0px;
  color: #1e2022;
}

.para {
  color: red;
  border: none;
  background: transparent;
  cursor: pointer;
}

.display {
  display: none;
}
td img {
  cursor: pointer;
}


