.Registation_wrapper {
  border: 1px solid #cecedc;
  width: 1480px;
  margin: auto;
}
.Registation_section_Container {
  display: flex;
  width: 1480px;
  margin: auto;
  height: 500px;
}
.Registation_LeftSide_Container {
  margin: auto 0px;
  border-right: 1px solid gray;
  width: 500px;
}
.Registation_LeftSide_Container h1 {
  width: 411px;
  color: #5861ae;
  margin: 10px auto;
  text-align: left;
  font: normal normal 900 62px/70px Avenir;
  letter-spacing: 0px;
  text-transform: capitalize;
  opacity: 1;
}
#Registation_DoorStep_para {
  width: 175px;
  margin: 4px 38px;
  text-align: left;
  font: normal normal normal 20px/26px Avenir;
  letter-spacing: 0.8px;
  color: #565657;
  text-transform: capitalize;
  opacity: 1;
}
#Registation_AlreadyHaveAccount_para {
  width: 411px;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: left;
  font: normal normal normal 16px/26px Avenir;
  letter-spacing: 0.64px;
  color: #565657;
  text-transform: capitalize;
  opacity: 1;
  position: relative;
  top: 40px;
}
.Registation_LeftSide_Container button {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  right: 130px;
  width: 150px;
  height: 50px;
  border: 2px solid #4552c1;
  border-radius: 4px;
  opacity: 1;
  position: relative;
  top: 51px;
}
.Registation_LeftSide_Container button:hover {
  cursor: pointer;
  background-color: #4552c1;
  color: white;
}
.Registartion_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  height: 100%;
  margin: auto 0px;
  background: #b9c0fd1a 0% 0% no-repeat padding-box;
  opacity: 1;
}
.Registation_Detail_Container {
  display: flex;
  margin: 0px 20px;
  font-size: 17px;
  position: relative;
  bottom: 50px;
}
.Registation_Detail_Container_left {
  margin: 0px 20px;
}
.Registation_Detail_Container_right {
  margin-left: 50px;
}
.Registation_Detail_Container_left label {
  display: block;
  position: relative;
  text-align: left;
  font: normal normal normal 12px/15px Open Sans;

  margin: 0px;
}
.Registation_Detail_Container_right label {
  display: block;
  position: relative;
  text-align: left;
  font: normal normal normal 12px/15px Open Sans;

  margin: 0px;
}

.Registartion_form_container h1 {
  display: inline-block;
  font-size: 32px;
  width: 150px;
  height: 44px;
  margin: 0px;
  margin-bottom: 50px;
  text-align: left;
  font: normal normal medium 32px/60px Avenir;
  letter-spacing: 1.28px;
  color: #4552c1;
  text-transform: uppercase;
  opacity: 1;
  position: relative;
  left: 40px;
  bottom: 90px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.Registation_UserDetail {
  display: flex;
  width: 400px;
  height: 20px;
  margin: 2px auto;
  border: none;
  border-bottom: 2px solid #ababb1;
  font-size: 17px;
  background: transparent;
  opacity: 1;
}
#Registation_Form_validation_ErrMsg {
  display: inline-flex;
  text-align: right;
  width: 500px;
  font: normal normal medium 16px/26px Avenir;
  letter-spacing: 0.64px;
  text-transform: capitalize;
  opacity: 1;
  position: relative;
  left: 340px;
  bottom: 60px;
  margin: auto;
  color: red;
}
#Registation_Form_validation_ErrMsg:hover {
  cursor: pointer;
}
.Accept_T_C_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 22px;
  position: relative;
  top: 260px;
  right: 700px;
}
.T_C_checkbox {
  width: 22px;
  height: 22px;
}
.T_C_checkbox:hover {
  cursor: pointer;
}
.Accept_T_C_para {
  width: 540px;
  text-align: left;
  text-decoration: underline;
  font: normal normal normal 14px/20px Open Sans;
  letter-spacing: 0.49px;
  color: #5861ae;
  opacity: 1;
  margin-left: 10px;
}
.Accept_T_C_para:hover {
  cursor: pointer;
}
#Registation_Register_btn {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  top: 85px;
  right: 210px;
  width: 150px;
  height: 50px;
  border: 2px solid #4552c1;
  border-radius: 4px;
  opacity: 1;
}
#Registation_Register_btn:hover {
  cursor: pointer;
  background-color: #4552c1;
  color: white;
}
.fa-lock {
  color: rgb(18, 18, 18);
  position: relative;
  bottom: 40px;
  left: 330px;
  width: 15px;
  height: 21px;
}
.fa-lock:hover {
  cursor: pointer;
  scale: 1.2;
}
